<div class="container-lg">
    <h1>{{header}}</h1>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 200px;">
                            <input type="text"
                            class="form-control"
                            placeholder="Cari berdasarkan nama"
                            [(ngModel)]="nama"
                            (keydown.enter)="searchNama($event)"
                            (keyup)="searchNama($event)"
                            />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" (click)="searchNama($event)"><fa-icon [icon]="faSearch"></fa-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
            
                <div class="card-body table-responsive p-0 " style="height: 430px;">
                    <table class="table table-head-fixed table-hover">
                    <thead>
                        <tr>
                        <th scope="col">No.</th>
                        <th scope="col">ID</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Jenis Pekerjaan</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">Lab</th>
                        <th scope="col">Biaya</th>
                        <th scope="col">DPJP</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let dataLab of dataLabs;let i = index" [class.active]="i == currentIndex" (click)="setActiveLab(dataLab, i)">
                    <!-- <tr *ngFor="let dataLab of dataLabs;let i = index" [class.active]="i == currentIndex" (click)="setActiveLab(dataLab, i)" [routerLink]="[ '/pasien', pasien.pasien_id ]"> -->

                        <th scope="row">{{ i + 1 }}</th>
                        <td> {{dataLab.pasien_id}}</td>
                        <td> {{dataLab.tanggal}} </td>
                        <td> {{dataLab.Pasien.nama_pasien}} </td>
                        <td> {{dataLab.jenis_pekerjaan}}</td>
                        <td> {{dataLab.jumlah}}</td>
                        <td> {{dataLab.lab}}</td>
                        <td> {{dataLab.biaya}}</td>
                        <td> {{dataLab.dpjp}}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
        </div>
        <h5>Hasil Pencarian : {{result}} pasien</h5>

</div>
