<div class="container-fluid">
    <div class="container col-md-9">
       <div *ngIf="currentPasien">
        <h1>{{header}}, {{currentPasien.nama_pasien}}</h1>
    
        <div id="data">
            <div class="row">
                <h6 class="col-sm-3">ID Pasien </h6>
                <p>{{currentPasien.pasien_id}}</p>
            </div>
            <div class="row">
                <h6 class="col-sm-3">Jenis Kelamin </h6>
                <p>{{currentPasien.jenis_kelamin}}</p>
            </div>
            <div class="row">
                <h6 class="col-sm-3">TTL </h6>
                <p>{{currentPasien.tempat_lahir}}, {{currentPasien.tanggal_lahir}}</p>
            </div>
            <div class="row">
                <h6 class="col-sm-3">No.Hp </h6>
                <p>{{currentPasien.no_hp}}</p>
            </div>
            <div class="row">
                <h6 class="col-sm-3">Pekerjaan </h6>
                <p>{{currentPasien.pekerjaan}}</p>  
            </div>
            <div class="row">
                <h6 class="col-sm-3">Alamat </h6>
                <p>{{currentPasien.alamat}}</p>
            </div>
            <div class="row">
                <h6 class="col-sm-3">Penyakit Sistemik </h6>
                <p>{{currentPasien.riwayat_penyakit_sistemik}}</p>
            </div>
            <div class="row">
                <h6 class="col-sm-3">Alergi Obat/Makanan </h6>
                <p>{{currentPasien.alergi_obat}}</p>
            </div>
            <div style="margin-bottom: 1%;margin-top: 1%; position: relative; margin-left: 85%;">
                <button class="btn btn-warning btn-lg" routerLink="/pasien/update-data-pasien/{{currentPasien.pasien_id}}">Update Data</button>
            </div>
        </div>
        
    </div> 
    </div>
    

    <div *ngIf="currentPasien">
        <div class="container-fluid col-md-11">
            <div class="card" >
                <div class="card-header">
                    <h3 class="card-title">Data konsultasi pasien</h3>
                    <!-- <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 200px;">
                            <input type="text"
                            class="form-control"
                            placeholder="Cari berdasarkan nama"
                            [(ngModel)]="nama"
                            (keydown.enter)="searchNama()"
                            (keyup)="searchNama()"
                            />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" (click)="searchNama()"><fa-icon [icon]="faSearch"></fa-icon></button>
                            </div>
                        </div>
                    </div> -->
                </div>
                
            
                <div class="card-body table-responsive p-0 " style="height: 430px">
                    <table class="table table-head-fixed table-hover">
                    <thead>
                        <tr>
                        <th scope="col">No.</th>
                        <th scope="col">ID</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Unsur/Regio</th>
                        <th scope="col">Keluhan</th>
                        <th scope="col">Perawatan</th>
                        <th scope="col" >Keterangan</th>
                        <th scope="col">Rencana Perawatan</th>
                        <th scope="col">Biaya</th>
                        <th scope="col">DPJP</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- <tr *ngFor="let konsul of konsuls;let i = index" [class.active]="i == currentIndex" (click)="setActivePasien(pasien, i)" [routerLink]="[ '/pasien', pasien.pasien_id ]"> -->
                    <tr *ngFor="let konsul of konsuls;let i = index" >
                        <th scope="row">{{ i + 1 }}</th>
                        <td> {{konsul.riwayat_id}}</td>
                        <td> {{konsul.tanggal}} </td>
                        <td> {{konsul.unsur_regio}} </td>
                        <td> {{konsul.keluhan}} </td>
                        <td> {{konsul.perawatan}} </td>
                        <td id="ket"> {{konsul.keterangan}} </td>
                        <td> {{konsul.rencana_perawatan}}</td>
                        <td> {{konsul.biaya}} </td>
                        <td> {{konsul.dpjp}} </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                
        </div>
    </div>
    
    <div class="container-fluid button col-md-4">
        <button class="btn btn-primary btn-lg" routerLink="/pasien/{{currentPasien.pasien_id}}/konsultasi">Tambah Pemeriksaan</button>
        <button class="btn btn-success btn-lg" routerLink="/pasien/input-data-lab/{{currentPasien.pasien_id}}">Input Data Lab</button>
    </div>
    

</div>

